.gradle/
**/.gradle/
.gradle-user-home/
/.architectury-transformer/
/gradle-*/
/tmp_arch_plugin/
/template/
/gradle-*-bin.zip
/template.zip
/loom-metadata.xml
/common_tasks.txt
/build/
**/build/
run/
logs/
out/
classes/
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.log
*.tmp
*.swp
*.bak
Thumbs.db
.DS_Store
checkouts/
examples/
.reference/