PROVIDER_HOST=127.0.0.1
PROVIDER_PORT=28545
PROVIDER_TOKEN=change-me
PROVIDER_MTR_DIMENSION=minecraft:overworld
OUTPUT_DIR=./output
REQUEST_TIMEOUT_MS=15000
PROVIDER_MTR_ROUTE_ID=0
# PROVIDER_MTR_STATION_ID=123
# PROVIDER_MTR_PLATFORM_ID=456
PROVIDER_MTR_DEPOT_ID=0
